.company-cheques-by-month {
  .CCBM {
    &__percent-item {
      margin: 7px 0 0;
      padding: 6px 0 0;
      border-top: 1px solid #eee;
      span {
        font-weight: 600;
        margin: 0 10px 0 0;
      }
    }
  }
  .custom-content__table {
    th {
      background: #f3f3f3;
    }
    .month-cell {
      background: #f3f3f3;
    }

    .ant-table-tbody {
      & > tr {
        & > td {
          padding: 10px 0 !important;
          border-bottom: 1px solid #d5d5d5;

          &:first-child {
            padding: 10px 15px !important;
          }
        }
      }
    }
  }
}