.wrapper {
    display: block;
    position: relative;
    color: #98a9bc;
    font-size: 13px;
}

.dropdown {
    padding: 8px 12px;
    border: 1px solid #98a9bc;
    border-radius: 4px;
    display: flex;
    flex-flow: row;
    cursor: pointer;
    height: 100%;
    align-items: center;
}

.dropdown .title {
    flex-grow: 1;
    padding-left: 5px;
    padding-right: 5px;
}

.dropdown .arrow {
    width: 24px;
    height: 24px;
}

.menu_container {
    position: absolute;
    display: none;
    max-height: 160px;
    overflow-y: auto;
    overflow-x: hidden;
    left: 0;
    right: 0;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1) !important;
}

.menu_container .menu {
    width: 100%;
    background-color: white;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    border: 1px solid #eeeeeeaa;
    position: relative;
    z-index: 100;
}

.menu_container.open {
    display: flex;
    flex-flow: column;
}

.menu_container.tobottom {
    top: calc(100% + 3px);
    align-items: flex-start;
}

.menu_container.totop {
    bottom: calc(100% + 3px);
    align-items: flex-end;
    justify-content: flex-end;
}

.menu_container .menu .item {
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.menu_container .menu .item.bottom_border {
    border-bottom: 1px solid #a4b2bc77;
}
